.home-name {
    display: block;
    text-align: center;
    font-family: var(--font-primary);
    font-size: 5rem;
    
}

.shop-name {
    display: block;
    transition: opacity 1s ease-in-out linear;
}

@keyframes name {
    0% {
        opacity: .3;
    }
    100% {
        opacity: 1;
    }
}
